@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

.my-navbar {
  
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2em;
}
.navbar-brand img {
  width: 50px;
}

.nav-link {
  border-bottom: 4px solid white;
  margin-right: 24px;
  transition: 0.3s ease;
  padding: 5px;
  color: #000;
}
.nav-link:hover {
  color: black;
  border-bottom: 4px solid #09acdb;
}
.nav-active a {
  color: black !important;
  font-weight: 600;
  border-bottom: 4px solid #09acdb;
}

.cent {
    display: flex;
  justify-content: center;
  align-items: center;
}