@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    font-family: "Lato", sans-serif;
    text-align: center;
}

body.darkmode {
    filter: invert(100%);
    background-color: #2C2C2C;
}

.undark {
    filter: invert(100%);
}
.button {
    padding: 0.2em 1.5em;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 1em;
    transition: 0.3s;
    border: 4px solid #008000;
    border-image-source: linear-gradient(
      to right,
      #016062 0%,
      #4a5e8c 44%,
      #4a5e8c 49%,
      #4a5e8c 57%,
      #744a9e 100%
    );
    border-image-slice: 4;
    overflow: hidden;
    margin: 0.5em;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:after {
    width: 120%;
    color: #fff;
  }
  .button:after {
    content: "";
    color: #fff;
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(
      to right,
      #016062 0%,
      #4a5e8c 44%,
      #4a5e8c 49%,
      #4a5e8c 57%,
      #744a9e 100%
    );
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  
  .button2 {
    padding: 0.2em 1.5em;
    margin: 0.5em;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 1em;
    transition: 0.3s;
    border: 4px solid #008000;
    border-image-source: linear-gradient(
      to right,
      #e85b33 0%,
      #e76442 44%,
      #e97051 49%,
      #f5a362 57%,
      #e9c469 100%
    );
    border-image-slice: 4;
    overflow: hidden;
  }
  .button2:hover {
    color: #fff;
  }
  .button2:hover:after {
    width: 120%;
    color: #fff;
  }
  .button2:after {
    content: "";
    color: #fff;
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(
      to right,
      #e85b33 0%,
      #e76442 44%,
      #e97051 49%,
      #f5a362 57%,
      #e9c469 100%
    );
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  
  .emoji {
    margin: 0.5em 0;
    font-size: 4em;
  }
  
  /* Dark Mode */
  
  .button-dark {
    padding: 0.2em 1.5em;
    margin: 0.5em;
    position: relative;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 1em;
    transition: 0.3s;
    border: 4px solid #008000;
    border-image-source: linear-gradient(
      to right,
      #000000 0%,
      #333333 44%,
      #666666 49%,
      #999999 57%,
      #cccccc 100%
    );
    border-image-slice: 4;
    overflow: hidden;
  }
  .button-dark:hover {
    color: #fff;
  }
  .button-dark:hover:after {
    width: 120%;
    color: #fff;
  }
  .button-dark:after {
    content: "";
    color: #fff;
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    bottom: -1px;
    height: 3px;
    background: linear-gradient(
      to right,
      #000000 0%,
      #333333 44%,
      #666666 49%,
      #999999 57%,
      #cccccc 100%
    );
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }

  .display-4 {
      font-size: 3em;
  }